
.swiper{
  height:212px;
  position: relative;
  .search{
    position: absolute;
    top:20px;
    z-index: 2;
    padding:0 10px;
    
    width: 100%;
    .left{
      background-color: #fff;
      flex:1;
      margin:0 10px;
      height:34px;
      border-radius: 3px;
      padding:5px 5px 5px 8px; 
      .path{
        span{
          font-size: 14px;
        }
        .icon-arrow{
          font-size: 12px;
        }
      }
      .left-search{
        border-left: 1px solid #ccc;
        margin-left:12px;
        .icon-seach{
          font-size: 15px;
          color:#ccc;
          margin:0 4px 0 12px;
          vertical-align: middle;;
        }
        span{
          font-size: 13px;
          color:#ccc
        }
      }
    }
    .icon-map{
      font-size: 25px;
      color: #fff;
    }
  }
}
.navbarList{
  text-align: center;
  padding:10px 0;
  img{
    width: 48px;
  }
  p{
    margin-top:7px;
  }
}

.groups{
  padding:0 10px;
  background-color: #ccc;
  overflow: hidden;
  &-title{
    
    margin:15px 0 15px 10px;
    h3{
      font-size: 15px;
    }
    span{
      font-size: 14px;
      color:#787d82;
    }
  }
  .gird {
    &-item{
      padding:0 10px;
      img{
        width: 55px;
      }
      p{
        font-weight: bold;
        margin-bottom: 5px;
      }
      span{
        font-size: 12px;
        color:#999
      }
    }
    .am-grid-item:first-child{
      margin-right:10px;
    }
    .am-flexbox{
      background-color: transparent;
    }
    .am-grid-item{
      background-color: #fff;
      margin-bottom: 10px;
    }
    .am-flexbox-item .am-grid-item-content{
      padding:8px 0
    }
  }
  
}

.news {
  h3{
    padding:10px 0 0 20px;
  }
  &-item{
    padding:15px 10px 15px 0;
    height:120px;
    img{
      height:90px;
      float: left;
    }
    .item-info{
      height:100%;
      padding-left: 12px;
      .item-time{
        width:100%;
        font-size: 12px;
        color:#999
      }
      p{
        font-weight: bold;
      }
    }
  }
}