.houseList{
  height:100%;
  // position: relative;
}
.houseListHeader{
  background-color: #f5f6f5;
  padding-left:10px;
  height:45px
}
.houseListSearch{
  position: relative;
  top:0;
  padding-left: 0;
  :global{
    .am-flexbox{
      height:30px;
    }
    .icon-map{
      color:yellowgreen
    }

  }
}
:global{
  .ReactVirtualized__List{
    padding:0 10px 50px
  }
}
.loading{
  background-color: beige;
}
.houselist{
  position: absolute;
  top:85px;
  width:100%
}